/**
 * Place your custom styles here.
 */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
.navbar-text {
  font-size: 24px;
  margin: 0 15px 15px 15px;
}
.navbar-brand {
  display: block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  min-height: 85px;
  min-width: 220px;
  background-image: url('/sites/bridgemojo.com/images/suits-bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40pt;
  color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  padding: 12px 5px 0px 5px;
}
.region-highlighted {
  border: 5px solid rgb(157, 205, 92);
  margin: 10px;
  padding: 10px;
}
.region-highlighted .block-title {
  margin: 0 0 10px 0;;
}
.nav > li > a {
  padding: 0;
  padding-right: 15px;
  margin: 0;
  border: 0;
}
nav > h2, section#block-twitterblock h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(157, 205, 92);
  padding: 5px;
}
figure {
  padding: 10px;
  display: table;
  width: 1px;
}
figure.align-center {
  padding: 10px;
  display: table;
  width: 1px;
}
figcaption {
  display: table-row;
  font-weight: light;
  font-size: small;
}
img.align-right {
  margin: 5px 0 5px 5px;
}
img.align-center {
  margin: 5px;
}
.page-header {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid black;
}
.feed-icons {
  display: none;
}
article.teaser {
    border-bottom: 1px solid grey;
}
.hs {
  color: red;
}
.ds {
  color: red;
}
